@import "tailwindcss";

@theme {
  --color-*: initial;

  /* Base */
  --color-white: #eeeeee;
  --color-black: #000000;

  /* Grays / Neutrals */
  --color-gray-100: #efece3;
  --color-gray-300: #8fabd4;
  --color-gray-500: #4a70a9;
  --color-gray-900: #000000;

  /* Primary */
  --color-primary-light: #8fabd4;
  --color-primary-base: #4a70a9;
  --color-primary-dark: #000000;

  /* Typography */
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-arial: "Arial", sans-serif;

  /* Shadows */
  --shadow-sm: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
